.new
  .new__title
    %h2
      新規登録画面
  =form_with model:@content,id:"new__content__form",local:true do |f|
    .new__contents
      .new__contents__title
        =f.text_field :title ,class: "new__input" ,placeholder: "映画タイトル"

      .new__contents__file
        .new__contents__file__image
          .new__contents__file__image__previewArea
            %img{id: "img_preview" ,width:390,height:250}
            .new__contents__file__image__previewArea__position
              %label{for:"img-file"}
                %i.fas.fa-camera

          .new__contents__file__image__inputArea
            =f.file_field :image,type: 'file',value: "" ,style:"" ,id: "img-file" ,class:"new__contents__file__image__inputArea__clear"
            .new__contents__file__image__inputArea__file
              %label{for:"img-file"}
                ここをクリックしてファイルを選択
              
        
        .new__contents__file__embed_code
          .new__contents__file__embed_code__previewArea
            %img{id: "embed_preview",width:390,height:250}
            .new__contents__file__embed_code__previewArea__position
              %i.fas.fa-film

          .new__contents__file__embed__code__inputArea
            =f.text_field :embed_code ,class: "new__input__embed",id: "embed-file" ,placeholder: "動画埋め込みコード"
              
      .new__contents__genre
        .new__contents__genre__formBox
          .genreBox
            = f.check_box :genre, medhod: :ドラマ ,id:"genre_id_0"
            = f.label :ドラマ ,class: "genre", for: "genre_id_0"
          .genreBox
            = f.check_box :genre, medhod: :恋愛, id:"genre_id_1"
            = f.label :恋愛 ,class: "genre", for: "genre_id_1"
          .genreBox
            = f.check_box :genre,medhod: :ホラー, id:"genre_id_2"
            = f.label :ホラー ,class: "genre", for: "genre_id_2"
          .genreBox
            = f.check_box :genre,medhod: :アート・コンテンポラリー, id:"genre_id_3"
            = f.label :アート・コンテンポラリー ,class: "genre", for: "genre_id_3"
          .genreBox
            = f.check_box :genre,medhod: :戦争, id:"genre_id_4"
            = f.label :戦争 ,class: "genre", for: "genre_id_4"
          .genreBox
            = f.check_box :genre,medhod: :音楽, id:"genre_id_5"
            = f.label :音楽 ,class: "genre", for: "genre_id_5"
          .genreBox
            = f.check_box :genre,medhod: :ミュージカル, id:"genre_id_6"
            = f.label :ミュージカル,class: "genre", for: "genre_id_6"
          .genreBox
            = f.check_box :genre,medhod: :スポーツ, id:"genre_id_7"
            = f.label :スポーツ ,class: "genre", for: "genre_id_7"
          .genreBox
            = f.check_box :genre,medhod: :SF, id:"genre_id_8"
            = f.label :SF ,class: "genre", for: "genre_id_8"
          .genreBox
            = f.check_box :genre,medhod: :青春, id:"genre_id_9"
            = f.label :青春 ,class: "genre", for: "genre_id_9"
          .genreBox
            = f.check_box :genre,medhod: :コメディ, id:"genre_id_10"
            = f.label :コメディ ,class: "genre", for: "genre_id_10"
          .genreBox
            = f.check_box :genre,medhod: :アクション, id:"genre_id_11"
            = f.label :アクション ,class: "genre", for: "genre_id_11"
          .genreBox
            = f.check_box :genre,medhod: :アドベンチャー・冒険, id:"genre_id_12"
            = f.label :アドベンチャー・冒険 ,class: "genre", for: "genre_id_12"
          .genreBox
            = f.check_box :genre,medhod: :クライム, id:"genre_id_13"
            = f.label :クライム ,class: "genre", for: "genre_id_13"
          .genreBox
            = f.check_box :genre,medhod: :ドキュメンタリー, id:"genre_id_14"
            = f.label :ドキュメンタリー ,class: "genre", for: "genre_id_14"
          .genreBox
            = f.check_box :genre,medhod: :ショートフィルム・短編, id:"genre_id_15"
            = f.label :ショートフィルム・短編 ,class: "genre", for: "genre_id_15"
          .genreBox
            = f.check_box :genre,medhod: :サスペンス, id:"genre_id_16"
            = f.label :サスペンス ,class: "genre", for: "genre_id_16"
          .genreBox
            = f.check_box :genre,medhod: :ファミリー, id:"genre_id_17"
            = f.label :ファミリー ,class: "genre", for: "genre_id_17"
          .genreBox
            = f.check_box :genre,medhod: :スリラー, id:"genre_id_18"
            = f.label :スリラー ,class: "genre", for: "genre_id_18"
          .genreBox
            = f.check_box :genre,medhod: :ヤクザ・任侠, id:"genre_id_19"
            = f.label :ヤクザ・任侠 ,class: "genre", for: "genre_id_19"
          .genreBox
            = f.check_box :genre,medhod: :ファンタジー, id:"genre_id_20"
            = f.label :ファンタジー ,class: "genre", for: "genre_id_20"
          .genreBox
            = f.check_box :genre,medhod: :時代劇, id:"genre_id_21"
            = f.label :時代劇 ,class: "genre", for: "genre_id_21"
          .genreBox
            = f.check_box :genre,medhod: :ミステリー, id:"genre_id_22"
            = f.label :ミステリー ,class: "genre", for: "genre_id_22"
          .genreBox
            = f.check_box :genre,medhod: :伝記, id:"genre_id_23"
            = f.label :伝記 ,class: "genre", for: "genre_id_23"
          .genreBox
            = f.check_box :genre,medhod: :西部劇, id:"genre_id_24"
            = f.label :西部劇 ,class: "genre", for: "genre_id_24"
          .genreBox
            = f.check_box :genre,medhod: :パニック, id:"genre_id_25"
            = f.label :パニック ,class: "genre", for: "genre_id_25"
          .genreBox
            = f.check_box :genre,medhod: :オムニバス, id:"genre_id_26"
            = f.label :オムニバス ,class: "genre", for: "genre_id_26"
          .genreBox
            = f.check_box :genre,medhod: :バイオレンス, id:"genre_id_27"
            = f.label :バイオレンス ,class: "genre", for: "genre_id_27"
          .genreBox
            = f.check_box :genre,medhod: :歴史, id:"genre_id_28"
            = f.label :歴史 ,class: "genre", for: "genre_id_28"
          .genreBox
            = f.check_box :genre,medhod: :ギャング・マフィア, id:"genre_id_29"
            = f.label :ギャング・マフィア ,class: "genre", for: "genre_id_29"
          .genreBox
            = f.check_box :genre,medhod: :その他, id:"genre_id_30"
            = f.label :その他 ,class: "genre", for: "genre_id_30"


      .new__contents__directror
        =f.text_field :director,class: "new__input",placeholder: "映画監督"

      .new__contents__actor
        =f.text_field :actor ,class: "new__input",placeholder: "俳優名"

      .new__contents__screening_date
        =f.text_field :screening_date ,class: "new__input",placeholder: "上映日"

      .new__contents__screening_time
        =f.text_field :screening_time ,class: "new__input",placeholder: "上映時間"
      
      .new__contents__externalURL
        =f.text_field :url ,class: "new__input",placeholder: "映画評価外部URL"


      .new__contents__impressions
        =f.text_area :impressions ,class: "new__input__textArea",placeholder: "感想"


      #counter.new__contents__rating
        %input.btnSpinner{type: "button",value:"-",data:{ cal: "-1" ,target:".new__ratingInput"}}
        %input.btnSpinner{type: "button",value:"+",data:{ cal: "1"  ,target:".new__ratingInput"}}
        =f.number_field :rating, class:"new__ratingInput" ,placeholder: "評価点数(満点100)",value: "",data:{max:"100" ,min:0}
        -# %h / 100

    .new__form
      =f.submit "保存する",class: "new__formSubmit new__all-submit"
      .new__form__back
        = link_to "/", class:"new__form__back__link new__all-link" do
          Back
